<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Welcome!</title>
    <style>
      h2 { color: #c4c4c4; }
    </style>
  </head>
  <body>
    <h2>Good news {{name}}! </h2>
    <p>You're Afrofit Club's newest member!</p>
    <p>There are exciting times. Remember to go through the website to find out
      all the benefits that are on offer for you!
      {{adminEmail}}</p>
    <p>If you require further information, please don't hesistate to email us
      at:
      {{adminEmail}}</p>
  </body>
</html>