<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Reset Password at Weaver Labs Record</title>
    <style>
      h2 { color: #c4c4c4; }
    </style>
  </head>
  <body>
    <h2>Hello {{name}}! </h2>
    <p>You recently requested a password reset on your account. If it wasn't you
      please ignore this email.</p>
    <p>Click this link to reset your password:
      <a href={{resetLink}}>{{resetLink}}</a></p>
  </body>
</html>