<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Password changed at Weaver Labs Record</title>
    <style>
      h2 { color: #c4c4c4; }
    </style>
  </head>
  <body>
    <h2>Good news {{name}}! </h2>
    <p>You're password has been changed.</p>
    <p>If you wish to report an irregularities with this process or your account
      in general please email
      {{adminEmail}}</p>
  </body>
</html>